<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="Profile">
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div class="col-sm">
					Supplier Information
				</div>
				<div class="col-sm">
					<ul class="nav float-right">
						<li class="nav-item">
							<a class="btn-sm btn-secondary" th:href="@{/Supplier/{id}/Edit(id=*{id})}">Edit Supplier</a>
						</li>
						<li class="nav-item">
							<a class="btn-sm btn-danger" th:href="@{/Supplier/{id}/Delete(id=*{id})}">Delete Supplier</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="card-body">
			<dl class="row">
				<dt class="col-sm-3">Company Name:</dt>
				<dd class="col-sm-9" th:text="${supplier.companyName}"></dd>

				<dt class="col-sm-3">Address:</dt>
				<dd class="col-sm-9" th:text="${supplier.address}"></dd>

				<dt class="col-sm-3">Credit Line:</dt>
				<dd class="col-sm-9" th:text="${supplier.creditline}"></dd>
			</dl>
		</div>
	</div>

	<br>
	<div class="card">
		<div class="card-header">Contact Person</div>
		<div class="card-body">
			<div th:if="${supplier.contactPerson}" th:object="${supplier.contactPerson.person}">
				<dl class="row">
					<dt class="col-sm-3">Name:</dt>
					<dd class="col-sm-9" th:text="*{name}"></dd>

					<dt class="col-sm-3">Phone:</dt>
					<dd class="col-sm-9" th:text="*{phone}"></dd>

					<dt class="col-sm-3">Email:</dt>
					<dd class="col-sm-9" th:text="*{email}"></dd>
				</dl>
			</div>
			<div th:unless="${supplier.contactPerson}">
				<h5 class="card-title">No contact person</h5>
			</div>
		</div>
	</div>

	<br>

	<div class="card">
		<div class="card-header">Available Supplier Catalogues</div>
		<div class="card-body">
			<table class="table table-sm table-bordered">
				<thead class="thead-light">
				<tr>
					<th>ID</th>
					<th>Date Published</th>
					<th>#Items</th>
					<th class="shrinkcell">Actions</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each=" c : ${supplier.catalogues}" th:object="${c}">
					<td>
						<a th:href="@{/Catalogue/{id}(id=*{id})}" th:text="*{id}"></a>
					</td>
					<td th:text="*{date_publish}"></td>
					<td th:text="*{#lists.size(supplierItems)}"></td>
					<td class="text-nowrap float-right">
						<a class="btn-sm btn-primary" th:href="@{/Catalogue/{id}(id=*{id})}">View</a>
						<a class="btn-sm btn-secondary" th:href="@{/Supplier/{id}/Edit(id=*{id})}">Edit</a>
						<a class="btn-sm btn-danger" th:href="@{/Supplier/{id}/Delete(id=*{id})}">Delete</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script th:inline="javascript">
        var supplier = [[${supplier}]];
	</script>
</div>