

<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="Item">
	<table class="table">
		<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Stock</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td th:text="${item.name}"></td>
			<td th:text="${item.description}"></td>
			<td th:text="${item.price}"></td>
			<td th:text="${item.stock}"></td>
			<td><a th:href="@{/edit/{id}(id=${item.id})}">Edit</a></td>
			<td><a th:href="@{/delete/{id}(id=${item.id})}">Delete</a></td>
		</tr>
		</tbody>
	</table>

	<h2>Item Suppliers</h2>
	<table class="table">
		<thead>
		<tr>
			<th>Company Name</th>
			<th>Address</th>
			<th>Supplier Price</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="s : ${item.suppliers}">
			<td>
				<a th:href="@{/Supplier/{id}(id=${s.supplier.id})}" th:text="${s.supplier.companyName}"></a>
			</td>
			<td th:text="${s.supplier.address}"></td>
			<td th:text="${s.price}"></td>
		</tr>
		</tbody>
	</table>

	<script th:inline="javascript">
        var item = [[${item}]];
	</script>
</div>