<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="CustomerForm">
    <form action="#" th:action="@{/Customer/Create}" th:object="${customerForm}" method="post" novalidate>
        <!--<div class="form-group row">-->
            <!--<label class="col-sm-2 col-form-label">Username</label>-->
            <!--<input th:field="*{username}" type="text" class="form-control col-sm-10" th:classappend="${#fields.hasErrors('username')} ? is-invalid : is-valid">-->
            <!--<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-feedback"></div>-->
        <!--</div>-->

        <div class="form-group row d-none">
            <label class="col-sm-2 col-form-label">Customer ID</label>
            <input th:field="*{customerID}" type="text" class="form-control col-sm-10" th:classappend="${#fields.hasErrors('customerID')} ? is-invalid : is-valid">
            <div th:if="${#fields.hasErrors('customerID')}" th:errors="*{customerID}" class="invalid-feedback"></div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <input th:field="*{name}" type="text" class="form-control col-sm-10" th:classappend="${#fields.hasErrors('name')} ? is-invalid : is-valid">
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email</label>
            <input th:field="*{email}" type="email" class="form-control col-sm-10" th:classappend="${#fields.hasErrors('email')} ? is-invalid : is-valid" placeholder="name@example.com">
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Phone</label>
            <input th:field="*{phone}" type="text" class="form-control col-sm-10" th:classappend="${#fields.hasErrors('phone')} ? is-invalid : is-valid">
            <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="invalid-feedback"></div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Address</label>
            <input th:field="*{address}" type="text" class="form-control col-sm-10" th:classappend="${#fields.hasErrors('address')} ? is-invalid : is-valid">
            <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="invalid-feedback"></div>
        </div>

        <script th:inline="javascript">
            var modelNames = [[${modelNames}]];
            var subjectAreaNames = [[${subjectAreaNames}]];
        </script>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Subject Areas</label>
            <div th:each="subject : ${subjectAreaNames}" class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" th:field="*{subjectAreaNames[__${subject.key}__]}" th:value="${subject.key}" th:checked="${subject.value}">
                <label class="form-check-label" th:text="${subject.key}"></label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Model Types</label>
            <div th:each="model : ${modelNames}" class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" th:field="*{modelNames[__${model.key}__]}" th:value="${model.key}" th:checked="${model.value}">
                <label class="form-check-label" th:text="${model.key}"></label>
            </div>
        </div>

        <!--<div class="form-group row">-->
            <!--<label class="col-sm-2 col-form-label">Password</label>-->
            <!--<input th:field="*{password}" type="password" class="form-control col-sm-10" th:classappend="${#fields.hasErrors('password')} ? is-invalid : is-valid">-->
            <!--<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>-->
        <!--</div>-->

        <!--<div class="form-group row">-->
            <!--<label class="col-sm-2 col-form-label">Password Confirm</label>-->
            <!--<input th:field="*{passwordConfirm}" type="password" class="form-control col-sm-10" th:classappend="${#fields.hasErrors('passwordConfirm')} ? is-invalid : is-valid">-->
            <!--<div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="invalid-feedback"></div>-->
        <!--</div>-->

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Credit Line</label>
            <input th:field="*{creditline}" type="text" class="form-control col-sm-10" th:classappend="${#fields.hasErrors('creditline')} ? is-invalid : is-valid">
            <div th:if="${#fields.hasErrors('creditline')}" th:errors="*{creditline}" class="invalid-feedback"></div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Balance</label>
            <input th:field="*{balance}" type="text" class="form-control col-sm-10" th:classappend="${#fields.hasErrors('balance')} ? is-invalid : is-valid">
            <div th:if="${#fields.hasErrors('balance')}" th:errors="*{balance}" class="invalid-feedback"></div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>