<div th:switch="${stores}" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="Index">
    <h2 th:case="null">No stores yet!</h2>
    <div th:case="*">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <a class="btn btn-primary" href="/Store/Create">Create Store</a>
            </div>

            <div class="btn-group mr-2 ml-auto" role="group">
                <form action="/Store">
                    <div class="input-group" role="group">
                        <div class="input-group-text input-group-append">Search</div>
                        <input name="query" type="text" class="form-control" placeholder="name" th:value="${query}">
                        <a class="btn btn-primary input-group-append" href="/Item" th:if="${query}">Clear</a>
                        <button type="submit" class="btn btn-default d-none">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <br>

        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-dark">
            <tr>
                <th>Store Name</th>
                <th>Address</th>
                <th>#Items</th>
                <th class="shrinkcell">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="store : ${stores}" th:object="${store}">
                <td>
                    <a th:href="@{/Store/{id}(id=*{id})}" th:text="*{name}"></a>
                </td>
                <td th:text="*{address}"></td>
                <td th:text="*{#lists.size(store_items)}"></td>
                <td class="float-right text-nowrap">
                    <a class="btn-sm btn-primary" th:href="@{/Store/{id}(id=*{id})}">View</a>
                    <a class="btn-sm btn-secondary" th:href="@{/Store/{id}/Edit(id=*{id})}">Edit</a>
                    <a class="btn-sm btn-danger" th:href="@{/Store/{id}/Delete(id=*{id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>