<div th:switch="${employees}" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="Index">
    <h2 th:case="null">No employees yet!</h2>
    <div th:case="*">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <a class="btn btn-primary" href="/Employee/Create">Create Employee</a>
            </div>

            <div class="btn-group mr-2 ml-auto d-none" role="group">
                <form action="/Employee">
                    <div class="input-group" role="group">
                        <div class="input-group-text input-group-append">Search</div>
                        <input name="query" type="text" class="form-control" placeholder="name" th:value="${query}">
                        <a class="btn btn-primary input-group-append" href="/Employee" th:if="${query}">Clear</a>
                        <button type="submit" class="btn btn-default d-none">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <br>

        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
				<th>Username</th>
                <th>Phone</th>
                <th>Role</th>
                <th class="shrinkcell">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${employees}" th:object="${c}">
				<td th:text="*{id}"></td>
                <td>
                    <a th:href="@{/Employee/{id}(id=*{id})}" th:text="*{name}"></a>
                </td>
				<td th:text="*{username}"></td>
                <td th:text="*{phone}"></td>
                <td th:text="*{role}"></td>
                <td class="float-right text-nowrap">
                    <a class="btn-sm btn-primary" th:href="@{/Employee/{id}(id=*{id})}">View</a>
                    <a class="btn-sm btn-secondary" th:href="@{/Employee/{id}/Edit(id=*{id})}">Edit</a>
                    <a class="btn-sm btn-danger" th:href="@{/Employee/{id}/Delete(id=*{id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <script th:inline="javascript">
        var employees = [[${employees}]];
    </script>
</div>