<div th:switch="${sales}" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="Index">
    <h2 th:case="null">No Sales Found!</h2>
    <div th:case="*">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <a class="btn btn-primary" href="Sale/Create">Add Sale</a>
            </div>
            <div class="btn-group mr-2 ml-auto d-none" role="group">
                <div class="input-group">
                    <div class="input-group-append">
                        <div class="input-group-text">Search Sales</div>
                    </div>
                    <input type="text" class="form-control" placeholder="date from to">
                </div>
            </div>
        </div>

        <br>

        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-dark">
            <tr>
                <th class="shrinkcell">ID</th>
                <th>Customer</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Total</th>
                <th class="shrinkcell">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${sales}" th:object="${c}">
                <td th:text="*{id}"></td>
                <td th:if="*{customer}">
                    <a th:href="@{/Customer/{id}(id=*{customer.id})}" th:text="*{customer.person.name}"></a>
                </td>
                <td th:unless="*{customer}" th:text="Unassigned"></td>
                <td th:text="*{saleDate}"></td>
                <td th:text="*{status}"></td>
                <td th:text="*{'$' + total}"></td>
                <td class="float-right text-nowrap">
                    <a class="btn-sm btn-primary" th:href="@{/Sale/{saleID}(saleID=*{id})}">View</a>
                    <a class="btn-sm btn-secondary" th:href="@{/Sale/{saleID}/Edit(saleID=*{id})}">Edit</a>
                    <a class="btn-sm btn-danger" th:href="@{/Sale/{saleID}/Delete(saleID=*{id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>