<div th:switch="${sale}" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="Sale">
    <h2 th:case="null">No sale</h2>
    <div th:case="*">

        <a class="btn btn-secondary" th:href="@{/Sale/{id}/Edit(id=*{id})}">Edit</a>
        <a class="btn btn-danger" th:href="@{/Sale/{id}/Delete(id=*{id})}">Delete</a> <br>

        <p>
            ID: <span th:text="${sale.id}"></span> <br>
            Total: <span th:text="${sale.total}"></span> <br>
            Status: <span th:text="${sale.status}"></span> <br>
            Order Date: <span th:text="${sale.saleDate}"></span>
        </p>
        <h3>Items</h3>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="saleLine : ${sale.sale_line_items}" th:object="${saleLine}">
                <td>
                    <a th:href="@{/Item/{id}(id=*{item.id})}" th:text="*{item.name}"></a>
                </td>
                <td th:text="*{item.description}"></td>
                <td th:text="*{'$' + sale_price}"></td>
                <td th:text="*{quantity}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>