<div th:switch="${sale}" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="Sale">
    <h2 th:case="null">No sale</h2>
    <div th:case="*">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm">
                        Sale Information
                    </div>
                    <div class="col-sm">
                        <ul class="nav float-right">
                        <li class="nav-item">
                        <a class="btn-sm btn-secondary" th:href="@{/Sale/{id}/Edit(id=*{id})}">Edit Sale</a>
                        </li>
                        <li class="nav-item">
                        <a class="btn-sm btn-danger" th:href="@{/Sale/{id}/Delete(id=*{id})}">Delete Sale</a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Sale ID:</dt>
                    <dd class="col-sm-9" th:text="${sale.id}"></dd>

                    <dt class="col-sm-3">Order Total:</dt>
                    <dd class="col-sm-9" th:text="${sale.total}"></dd>

                    <dt class="col-sm-3">Order Status:</dt>
                    <dd class="col-sm-9" th:text="${sale.status}"></dd>

                    <dt class="col-sm-3">Sale Date:</dt>
                    <dd class="col-sm-9" th:text="${sale.saleDate}"></dd>
                </dl>
            </div>
        </div>

        <br>

        <div class="card">
            <div class="card-header">Sale Line Items</div>
            <div class="card-body">
                <table class="table table-sm table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="saleLine : ${sale.sale_line_items}" th:object="${saleLine}">
                        <td>
                            <a th:href="@{/Item/{id}(id=*{item.id})}" th:text="*{item.name}"></a>
                        </td>
                        <td th:text="*{item.description}"></td>
                        <td th:text="*{'$' + sale_price}"></td>
                        <td th:text="*{quantity}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>