<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="Template :: header"></head>


<body>
    <nav th:replace="Template :: navbar"></nav>

    <div class="container">
        <span th:if="${Area}">
            <h2 th:if="${title}" th:text="${title}"></h2>
            <h2 th:unless="${title}"><span>No Title Specified</span></h2>
            <hr>
            <div th:replace="${Area + '/' + Sub_Page} :: ${Sub_Page}"></div>
        </span>
        <span th:unless="${Area}">
            <h1>404 not found</h1>
        </span>

        <div th:replace="Template :: footer"></div>
    </div>
</body>
</html>