<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="header">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-grid.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap-reboot.min.css}" rel="stylesheet"/>

    <script th:src="@{/js/jquery-3.4.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/js/datatables.min.js}"></script>
    <link th:href="@{/css/datatables.min.css}" rel="stylesheet"/>

    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
</body>

<footer th:fragment="footer">
    <hr>
    Copyright &copy; TimsHobby
    <p>
        <span th:text="'Today is: ' + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}" th:remove="tag"></span>
        <br>

        <span sec:authorize="isAuthenticated()">
            Name: <span sec:authentication="name"></span>
            <a th:href="@{/Logout}">Sign Out</a><br>
            Authorities: <span sec:authentication="principal.authorities"></span> <br>
        </span>
    </p>
    <hr>

    <script th:inline="javascript">
        // Convert all tables to datatables on load that can be sorted
        $(document).ready(function() {$('table').not('.nosort').DataTable();});
    </script>
</footer>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/Dashboard">
        <img src="/img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        Tim's Hobby Shop
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
            <li class="nav-item"><a class="nav-link" href="/Store">Stores</a></li>
            <li class="nav-item"><a class="nav-link" href="/Catalogue">Catalogues</a></li>
            <li class="nav-item"><a class="nav-link" href="/Supplier">Suppliers</a></li>
            <li class="nav-item"><a class="nav-link" href="/Customer">Customers</a></li>
            <li class="nav-item"><a class="nav-link" href="/Item">Items</a></li>
            <li class="nav-item"><a class="nav-link" href="/Sale">Sales</a></li>
            <li class="nav-item"><a class="nav-link" href="/Employee" sec:authorize="hasAuthority('ADMIN')">Employees</a></li>
            <li class="nav-item"><a class="nav-link" href="/Dashboard">Dashboard</a></li>

            <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    [<span sec:authentication="name"></span>]
                    <span class="caret"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/Logout">Logout</a>
                </div>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a class="nav-link" href="/Login">Login</a>
            </li>
        </ul>
    </div>
</nav>

</html>