<div th:switch="${customers}" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="Index">
    <h2 th:case="null">No Customers yet!</h2>
    <div th:case="*">
        <table class="table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Address</th>
                <th>Password</th>
                <th>Sales</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${customers}">
                <td th:text="${c.person.username}"></td>
                <td>
                    <a th:href="@{/Customer/{id}(id=${c.id})}" th:text="${c.person.name}"></a>
                </td>
                <td th:text="${c.Address}"></td>
                <td th:text="${c.person.Password}"></td>
                <td>
                    <ul>
                        <li th:each="sale : ${c.sales}">
                            <a th:href="@{/Customer/sales/{id}(id=${sale.id})}">
                                <span th:text="${sale.saleDate}"></span>
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/Customer/Register">Add a new Customer</a></p>

    <script th:inline="javascript">
        var customers = [[${customers}]];
    </script>
</div>