<div th:switch="${customers}" xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="Index">
    <h2 th:case="null">No Customers yet!</h2>
    <div th:case="*">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <a class="btn btn-primary" href="/Customer/Create">Create Customer</a>
            </div>

            <div class="btn-group mr-2 ml-auto" role="group">
                <form action="/Customer">
                    <div class="input-group" role="group">
                        <div class="input-group-text input-group-append">Search</div>
                        <input name="query" type="text" class="form-control" placeholder="name" th:value="${query}">
                        <a class="btn btn-primary input-group-append" href="/Customer" th:if="${query}">Clear</a>
                        <button type="submit" class="btn btn-default d-none">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <br>

        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Total Sales</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${customers}" th:object="${c}">
				<td th:text="*{id}"></td>
                <td>
                    <a th:href="@{/Customer/{id}(id=*{id})}" th:text="*{person.name}"></a>
                </td>
                <td th:text="*{Address}"></td>
                <td th:text="*{#lists.size(sales)}"></td>
                <td class="text-nowrap">
                    <a class="btn-sm btn-primary" th:href="@{Customer/{id}(id=*{id})}">View</a>
                    <a class="btn-sm btn-secondary" th:href="@{Customer/{id}/Edit(id=*{id})}">Edit</a>
                    <a class="btn-sm btn-danger" th:href="@{Customer/{id}/Delete(id=*{id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <script th:inline="javascript">
        var customers = [[${customers}]];
    </script>
</div>