<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="Profile">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm">
                    Customer Information
                </div>
                <div class="col-sm">
                    <ul class="nav float-right">
                        <li class="nav-item">
                            <a class="btn-sm btn-secondary" th:href="@{/Customer/{id}/Edit(id=*{id})}">Edit Customer</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn-sm btn-danger" th:href="@{/Customer/{id}/Delete(id=*{id})}">Delete Customer</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Customer ID:</dt>
                <dd class="col-sm-9" th:text="${customer.id}"></dd>

                <dt class="col-sm-3">Name:</dt>
                <dd class="col-sm-9" th:text="${customer.person.name}"></dd>

                <dt class="col-sm-3">Phone:</dt>
                <dd class="col-sm-9" th:text="${customer.person.phone}"></dd>

                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9" th:text="${customer.person.email}"></dd>

                <dt class="col-sm-3">Address:</dt>
                <dd class="col-sm-9" th:text="${customer.person.address}"></dd>

                <dt class="col-sm-3">Credit-line:</dt>
                <dd class="col-sm-9" th:text="${customer.creditline}"></dd>

                <dt class="col-sm-3">Balance:</dt>
                <dd class="col-sm-9" th:text="${'$' + customer.balance}"></dd>

                <dt class="col-sm-3">Club Membership:</dt>
                <dd class="col-sm-9" th:if="${customer.clubMembership}"
                    th:text="${'Join Date: ' + customer.clubMembership.joinDate}"></dd>
                <dd class="col-sm-9" th:unless="${customer.clubMembership}">No</dd>
            </dl>

            <h5 class="card-title">Interests</h5>
            <b>Subject Areas:</b>
            <span class="badge badge-secondary" th:each="sa : ${customer.subjectAreaInterests}" th:text="${sa.subjectArea.name}"></span>
            <br>
            <b>Model Types:</b>
            <span class="badge badge-secondary" th:each="sa : ${customer.modelTypeInterests}" th:text="${sa.modelType.name}"></span>
        </div>
    </div>

    <br>

    <div class="card" th:fragment="Sales">
        <div class="card-header">
            <div class="row">
                <div class="col-sm">
                    Sales
                </div>
                <div class="col-sm">
                    <ul class="nav float-right">
                        <li class="nav-item">
                            <a class="btn-sm btn-secondary" th:href="@{/Sale/Create/{id}(id=*{id})}">Add Sale</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-body">
            <table class="table table-sm table-bordered">
                <thead class="thead-light">
                <tr>
                    <th>Sale Date</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th class="shrinkcell">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sale : ${sales}"
                    th:object="${sale}">
                    <td th:text="*{saleDate}"></td>
                    <td th:text="*{status}"></td>
                    <td th:text="*{'$' + total}"></td>
                    <td class="float-right text-nowrap">
                        <a class="btn-sm btn-primary" th:href="@{/Sale/{saleID}(saleID=*{id})}">View</a>
                        <a class="btn-sm btn-secondary" th:href="@{/Sale/{saleID}/Edit(saleID=*{id})}">Edit</a>
                        <a class="btn-sm btn-danger" th:href="@{/Sale/{saleID}/Delete(saleID=*{id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>