<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="Profile">
    Username: <span th:text="${customer.person.username}"></span><br>
    Name: <span th:text="${customer.person.name}"></span><br>
    Address: <span th:text="${customer.address}"></span><br>
    Password: <span th:text="${customer.person.password}"></span><br>
    CreditLine: <span th:text="${customer.creditline}"></span><br>
    Balance: <span th:text="${customer.balance}"></span><br>

    <div th:if="${customer.clubMembership}">
        Club Membership Join Date: <span th:text="${customer.clubMembership.joinDate}"></span><br>
    </div>

    <script th:inline="javascript">
        var customer = [[${customer}]];
    </script>
</div>