<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="Catalogue">

    Company Name: <span th:text="${catalogue.Supplier.companyName}"></span><br>
    Address: <span th:text="${catalogue.Supplier.address}"></span><br>
    Credit Line: <span th:text="${catalogue.Supplier.creditline}"></span><br>
    Catalogue Publish Date: <span th:text="${catalogue.date_publish}"></span><br>
    Total Catalogue Items: <span th:text="${#lists.size(catalogue.supplierItems)}"></span><br>

	<h3>Catalogue Items</h3>
	<table class="table table-striped table-bordered">
		<thead class="thead-dark">
		<tr>
			<th>Item Name</th>
			<th>Description</th>
			<th>Availability</th>
			<th>Supplier Price</th>
			<th>Actions</th>
		</tr>
		</thead>
		<tbody>
			<tr th:each=" c : ${catalogue.supplierItems}" th:object="${c}">
				<td><a th:href="@{/Item/{id}(id=*{suppliedItem.id})}" th:text="*{suppliedItem.name}"></a></td>
				<td th:text="*{suppliedItem.description}"></td>
				<td th:text="*{suppliedItem.availability}"></td>
				<td th:text="*{'$' + price}"></td>
				<td class="text-nowrap">
					<a class="btn btn-primary" th:href="@{/Item/{id}(id=*{suppliedItem.id})}">View</a>
					<a class="btn btn-secondary" th:href="@{/Item/{id}/Edit(id=*{suppliedItem.id})}">Edit</a>
					<a class="btn btn-danger" th:href="@{/Item/{id}/Delete(id=*{suppliedItem.id})}">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>

	<script th:inline="javascript">
        // var supplier = [[${supplier}]];
	</script>
</div>